@import '../../var.scss';

.order-card {
    background-color: $secondary-color;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .order-details {
        width: 100%;
        padding: 15px;
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
        color: lighten($secondary-color, 50%);

        .left {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 5px;

            .order-id {
                font-size: 18px;
                color: $primary-color;
                font-weight: 500;
            }

            .order-status {
                span {
                    font-size: 18px;
                    color: $text-color1;
                    font-weight: 500;
                }
            }

            .order-vendor,
            .order-student {
                display: flex;
                flex-direction: row;
                align-items: start;
                gap: 5px;

                .name-phone {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    gap: 5px;

                    .vendor-name {
                        cursor: pointer;

                        &:hover {
                            color: $primary-color;
                        }
                    }

                    .phone {
                        display: flex;
                        flex-direction: row;
                        align-items: start;
                        gap: 8px;
                        font-style: italic;
                        // background-color: red;

                        svg {
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        .right {
            display: flex;
            flex-direction: column;
            align-items: end;
            gap: 5px;

            .amount {
                font-size: 18px;
                color: $primary-color;
                font-weight: 500;
            }

            .payment-status {
                span {
                    font-size: 18px;
                    color: $text-color1;
                    font-weight: 500;
                }
            }
        }
    }

    .item-grid-heading {
        width: 100%;
        font-size: 22px;
        border-bottom: 1px solid lighten($secondary-color, 10%);
        padding-bottom: 5px;
        padding-left: 15px;
        color: $primary-color;
    }

    .order-items {
        // background-color: blue;
        width: 100%;
        height: max-content;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 20px;
        padding: 15px;

        .order-item {
            width: 150px;
            border-radius: 10px;
            overflow: hidden;
            border: 2px solid lighten($secondary-color, 10%);
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 100%;
                aspect-ratio: 1/1;
                object-fit: cover;
            }

            .item-details {
                width: 100%;
                padding: 10px;
                display: flex;
                flex-direction: column;
                gap: 3px;

                .item-name {
                    color: $primary-color;
                    font-weight: 600;
                }
            }

            .item-buttons {
                .rate-btn {
                    background-color: rgba($primary-color, 0.2);
                    color: $primary-color;
                    border: none;
                    padding: 8px 16px;
                    border-radius: 10px;
                    cursor: pointer;
                    margin-bottom: 15px;
                    margin-top: 10px;
                    font-size: 16px;

                    &:hover {
                        background-color: rgba($primary-color, 0.4);
                    }
                }
            }
        }
    }

    .order-card-btn {
        background-color: rgba($primary-color, 0.2);
        color: $primary-color;
        border: none;
        padding: 8px 16px;
        border-radius: 10px;
        cursor: pointer;
        margin-bottom: 15px;
        margin-top: 10px;
        font-size: 20px;

        &:hover {
            background-color: rgba($primary-color, 0.4);
        }
    }
}