@import '../../var.scss';

.home {
    // padding: 2rem;
    color: $text-color1;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    align-items: center;

    .hero {
        position: relative;
        width: 100%;
        height: calc(100vh - 60px);
        text-align: center;
        margin-bottom: 3rem;
        padding: 2rem;
        background-image: url('../../images/hero_image_3.png');
        background-size: cover;
        background-position: center;
        color: $text-color1;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.2); // semi-transparent black
            z-index: 1;
        }

        h1,
        p,
        button {
            position: relative;
            z-index: 2;
            margin-left: 1.8rem
        }

        h1 {
            font-size: 4.5rem;
            margin-bottom: 0.8rem;
        }

        p {
            // margin: 1rem 0;
            margin-top: 1rem;
            margin-bottom: 1rem;
            font-size: 1.5rem;
        }

        button {
            background: $primary-color;
            color: $text-color1;
            padding: 0.75rem 1rem;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1.25rem;
            margin-top: 1rem;

            &:hover {
                background: darken($primary-color, 10%);
            }
        }
    }

    .perks {
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 2rem;
        padding: 4rem 2rem;
        align-items: stretch;

        .perk {
            background: $secondary-color;
            border-radius: 16px;
            padding: 2rem;
            text-align: center;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            min-height: 320px;

            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
            transition: all 0.3s ease;

            h3 {
                margin-top: 1.5rem;
                margin-bottom: 1.3rem;
                font-size: 1.8rem;
                color: $primary-color;
            }

            p {
                font-size: 1.2rem;
                color: $text-color1;
                line-height: 1.4;
            }
        }
    }

    .top-foods,
    .top-vendors {
        width: 100%;
        margin: 0 2rem;
        padding: 2rem;

        h2 {
            font-size: 2.5rem;
            margin-bottom: 1.5rem;
            color: $primary-color;
        }

        .food-list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 1.5rem;
        }

        .vendor-list {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 24px;
            // background-color: red;
            margin-top: 30px;

            .vendor-card {
                height: max-content;
                background: $background-color;
                border-radius: 10px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
                border: 1px solid lighten($secondary-color, 10%);
                padding: 0px;
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: pointer;
                transition: transform 0.3s ease, box-shadow 0.3s ease;

                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0 5px 15px rgba($primary-color, 0.5);
                    border: 1px solid $primary-color;
                }

                img {
                    width: 100%;
                    aspect-ratio: 1/1;
                    object-fit: cover;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    margin-bottom: 12px;
                }

                .details {
                    // background-color: red;
                    width: 100%;
                    padding: 16px;
                    display: flex;
                    flex-direction: row;
                    align-items: start;
                    justify-content: space-between;

                    .left {
                        h2 {
                            font-size: 18px;
                            margin: 8px 0;
                        }

                        .location {
                            font-size: 16px;
                            color: $text-color1;
                            margin-bottom: 4px;
                        }
                    }

                    .right {
                        display: flex;
                        flex-direction: column;
                        align-items: end;

                        .rating {
                            font-size: 20px;
                            color: $text-color1;
                            margin-bottom: 6px;

                            span {
                                color: $primary-color;
                            }
                        }

                        .status {
                            padding: 5px;
                            border-radius: 5px;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    .footer {
        width: 100%;
        margin-top: 5rem;
        padding: 4rem 6rem;
        background: darken($background-color, 3%);
        border-top: 1px solid rgba(255, 255, 255, 0.05);

        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 4rem;

        .brand {

            max-width: 600px;

            h2 {
                font-size: 2rem;
                color: $primary-color;
                margin-bottom: 1rem;
            }

            p {
                font-size: 1rem;
                line-height: 1.8;
                color: rgba(255, 255, 255, 0.75);
                margin-bottom: 1rem;
            }
        }

        .links {

            h3 {
                font-size: 1.3rem;
                margin-bottom: 1rem;
                margin-right: 15rem;
                color: $primary-color;
            }

            p {
                margin-bottom: 0.8rem;
                cursor: pointer;
                transition: 0.3s ease;
                color: rgba(255, 255, 255, 0.75);

                &:hover {
                    color: $primary-color;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .footer {
            flex-direction: column;
            padding: 3rem 2rem;
        }
    }
}