$background-color: rgb(17, 17, 17);
$primary-color: rgb(255, 115, 0);
$secondary-color: rgb(25, 25, 25);
$third-color: rgb(255, 242, 0);
$text-color1: rgb(255, 255, 255);
$text-color2: rgb(0, 0, 0);
$error-color: rgb(255, 0, 0);